.header {
  // background: rgba(255, 255, 255, 0.1);
  background-color: #d8bbff;
  margin-bottom: 1.45rem;
}

.content {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  max-width: 960;
}

.brand {
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
  text-decoration: none;
}

.logo {
  justify-content: center;
  text-decoration: none;
}

.logoSize {
  width: 52px;
}
