.header {
<<<<<<< HEAD
=======
  //background-color: rebeccapurple;
>>>>>>> 45f50570cf576f2fa46701bed2a6fcce46dbc5e9
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.45rem;
}

.content {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  max-width: 960;
}

.brand {
  display: flex;
  justify-content: center;
  margin: 0;
  color: black;
  text-decoration: none;
}

.logo {
  justify-content: center;
  text-decoration: none;
}

.logoSize {
  width: 52px;
}
